<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [ ]:
#Import the required libraries
import numpy as np
import pandas as pd

In [ ]:
#Import the diabetes dataset
data = pd.read_csv("pima-indians-diabetes.data",header=None)

#### 2: Analyze the dataset

In [ ]:
#View the first five observations of the dataset
data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [ ]:
#Use the .NAMES file to view and set the features of the dataset
feature_name = np.array(["Pregnant","Glucose","BP","Skin","Insulin","BMI","Pedigree","Age","label"])
df_data = pd.read_csv("pima-indians-diabetes.data",names=feature_name)
df_data

     Pregnant  Glucose  BP  Skin  Insulin   BMI  Pedigree  Age  label
0           6      148  72    35        0  33.6     0.627   50      1
1           1       85  66    29        0  26.6     0.351   31      0
2           8      183  64     0        0  23.3     0.672   32      1
3           1       89  66    23       94  28.1     0.167   21      0
4           0      137  40    35      168  43.1     2.288   33      1
..        ...      ...  ..   ...      ...   ...       ...  ...    ...
763        10      101  76    48      180  32.9     0.171   63      0
764         2      122  70    27        0  36.8     0.340   27      0
765         5      121  72    23      112  26.2     0.245   30      0
766         1      126  60     0        0  30.1     0.349   47      1
767         1       93  70    31        0  30.4     0.315   23      0

[768 rows x 9 columns]

In [ ]:
#View the number of observations and features of the dataset
df_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [ ]:
#Create the feature object
X_feature = df_data[["Pregnant","Glucose","BP","Skin","Insulin","BMI","Pedigree","Age"]]
X_feature

     Pregnant  Glucose  BP  Skin  Insulin   BMI  Pedigree  Age
0           6      148  72    35        0  33.6     0.627   50
1           1       85  66    29        0  26.6     0.351   31
2           8      183  64     0        0  23.3     0.672   32
3           1       89  66    23       94  28.1     0.167   21
4           0      137  40    35      168  43.1     2.288   33
..        ...      ...  ..   ...      ...   ...       ...  ...
763        10      101  76    48      180  32.9     0.171   63
764         2      122  70    27        0  36.8     0.340   27
765         5      121  72    23      112  26.2     0.245   30
766         1      126  60     0        0  30.1     0.349   47
767         1       93  70    31        0  30.4     0.315   23

[768 rows x 8 columns]

In [ ]:
#Create the reponse object
y_target = df_data[["label"]]
y_target

     label
0        1
1        0
2        1
3        0
4        1
..     ...
763      0
764      0
765      0
766      1
767      0

[768 rows x 1 columns]

In [ ]:
#View the shape of the feature object
X_feature.shape

(768, 8)

In [ ]:
#View the shape of the target object
y_target.shape

(768, 1)

#### 5: Use training and testing datasets to train the model

In [ ]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_feature,y_target,test_size = 0.25,random_state = 20)

#### 6: Create a model  to predict the diabetes outcome

In [ ]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
#Make predictions using the testing set
Prediction = logreg.predict(X_test)
print(Prediction[10:20])
print(y_test[10:20])

[1 1 0 0 1 0 0 0 0 1]
     label
702      1
222      0
20       0
631      0
147      0
403      0
526      0
422      0
150      0
7        0

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  FutureWarning,

#### 7: Check the accuracy of the model

In [ ]:
#Evaluate the accuracy of your model
from sklearn import metrics
performance = metrics.accuracy_score(y_test,Prediction)
performance

0.7447916666666666

In [ ]:
#Print the first 30 actual and predicted responses
print(f"Predicted Value - {Prediction[0:30]}")
print(f"Actual Value - {y_test.values[0:30]}")

Predicted Value - [0 1 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0]
Actual Value - [[1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]]